$typography-condensed: em(64em);

@mixin breakpoint-before($breakpoint, $inclusive: true) {
    @media (max-width: #{breakpoint($breakpoint, if($inclusive, 0, -1px))}) {
      @content;
    }
}

@mixin breakpoint-after($breakpoint, $inclusive: true) {
    @media (min-width: #{breakpoint($breakpoint, if($inclusive, 0, 1px))}) {
        @content;
    }
}

@mixin when-typography-not-condensed {
  @include breakpoint-after($typography-condensed) {
    @content;
  }
}

@mixin when-typography-condensed {
    @include breakpoint-before($typography-condensed) {
        @content;
    }
}

@mixin text-style-body {
    font-size: font-size(body);
    font-weight: 400;
    line-height: line-height(body);
  
    text-transform: initial;
    letter-spacing: initial;
  
    @include when-typography-not-condensed {
      font-size: font-size(body, large-screen);
    }
}

@mixin text-emphasis-normal($for-background: null) {
    font-weight: 400;
    color: color(ink, $for-background: $for-background);
}